<!-- footer -->
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="footer-grids">
        <div class="col-md-3 footer-grid">
          <div class="footer-logo">
            <div class="row">
              <div class="row-xs-12">
                <div class="text-center">
                  <a href="{{ site.baseurl }}"><img class="logo" src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}" /></a>
                  <p>{{ site.t[page.lang].slogan }}</p>
                  <p>Cel +57 3014206869</p>
                  <p><a href="mailto:info@horminka.org">info@horminka.org</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 footer-grid">
          <h3>{{ site.t[page.lang].navegacion }}</h3>
          <ul class="secciones">
            {% comment %}<li> <a href="#about" class="scroll">About</a> </li>{% endcomment %}
            {% include secciones.html %}
          </ul>
        </div>
        <div class="col-md-3 footer-grid">
          <h3>{{ site.t[page.lang].ultimosposts }}</h3>
          <ul>
            {% assign posts=site.posts | where:"lang", page.lang %}
            {% for post in posts limit: 3 %}
              <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="{{ post.url }}"> {{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-3 footer-grid">
          <h3>{{ site.t[page.lang].suscribete }}</h3>
          <p>{{ site.t[page.lang].textosuscribete }}</p>
          <form action="#" method="post">
            <input type="email" name="Email" placeholder="Email" required="">
            <input type="submit" value="{{ site.t[page.lang].enviar }}">
          </form>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>HorMinka 2017 | Licencia <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/2.5/co/">CC BY-NC-SA 2.5 CO</a> | Diseñado por <a href="http://www.horminka.org">HorMinka</a></p>
    </div>
  </div>

