<section id="nosotros">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
        <h1>¿Qué es HorMinka?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 imagen-nosotros">
        <img src="{{ "img/logo.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="HorMinka">
      </div>
      <div class="col-sm-12 col-md-6 texto-nosotros">
        <p>
        Somos una organización multidisciplinaria, constituida como una corporación sin ánimo de lucro en la ciudad de Neiva. Buscamos a través de la ciencia y la tecnología contribuir al desarrollo de la sociedad por medio de proyectos e iniciativas que acercan las herramientas de la ciencia y la tecnología a las personas naturales y jurídicas a partir de nuestra realidad local, regional y nacional.
        </p>
        <a type="button" class="btn btn-lg btn-block" href="{{ "" | prepend: site.baseurl }}">Ver Más</a>
      </div>
    </div>
  </div>
</section>
