<!-- about -->
<div class="about" id="about">
  <div class="container">
    <div class="wthree-about-info">
      <h1>Proyectos</h1>
      <p>Estas son algunos de los proyectos de impacto social en los que estamos trabajando. ¡Colabóranos!.</p>
    </div>
    <div class="agileits-about-grids">
      <div class="agileits-about-top-grids">
        <div class="col-md-4 about-grid">
          <div class="about-grid-info">
            <i class="fa fa-blind" aria-hidden="true"></i>
            <h4>Tecnología Inclusiva</h4>
            <p>Estamos desarrollando un sensor de proximidad sonoro para personas invidentes.</p>
            <div class="agileits-caption"> 
              <i class="fa fa-blind" aria-hidden="true"></i>
              <h4>Tecnología Inclusiva</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 about-grid">
          <div class="about-grid-info">
            <i class="fa fa-gears" aria-hidden="true"></i>
            <h4>Hardware Libre</h4>
            <p>Hacemos talleres con hardware libre en los que construimos aparatos con arduinos.</p>
            <div class="agileits-caption"> 
              <i class="fa fa-gears" aria-hidden="true"></i>
              <h4>Hardware Libre</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 about-grid">
          <div class="about-grid-info">
            <i class="fa fa-creative-commons" aria-hidden="true"></i>
            <h4>Cultura Libre</h4>
            <p>Nulla facilisi. Fusce malesuada elementum justo, et gravida orci maximus ut. Phasellus magna nunc.</p>
            <div class="agileits-caption"> 
              <i class="fa fa-creative-commons" aria-hidden="true"></i>
              <h4>Cultura Libre</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //about -->
