<!-- about -->
<div class="about" id="about">
  <div class="container">
    <div class="wthree-about-info">
      <h1>{{ site.t[page.lang].tituloproyectos }}</h1>
      <p>{{ site.t[page.lang].textoproyectos }}</p>
    </div>
    <div class="agileits-about-grids">
      <div class="agileits-about-top-grids">
        {% comment %}<div class="col-md-4 about-grid">{% endcomment %}
          {% comment %}<div class="about-grid-info">{% endcomment %}
            {% comment %}<i class="fa fa-blind" aria-hidden="true"></i>{% endcomment %}
            {% comment %}<h4>Tecnología Inclusiva</h4>{% endcomment %}
            {% comment %}<p>Estamos desarrollando un dispositivo para mejorar la movilidad de personas invidentes.</p>{% endcomment %}
            {% comment %}<div class="agileits-caption">{% endcomment %}
              {% comment %}<i class="fa fa-blind" aria-hidden="true"></i>{% endcomment %}
              {% comment %}<h4>Tecnología Inclusiva</h4>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}
        {% comment %}</div>{% endcomment %}
        {% comment %}<div class="col-md-4 about-grid">{% endcomment %}
          {% comment %}<div class="about-grid-info">{% endcomment %}
            {% comment %}<i class="fa fa-gears" aria-hidden="true"></i>{% endcomment %}
            {% comment %}<h4>Intranet Comunitaria</h4>{% endcomment %}
            {% comment %}<p>Redes inalámbricas que buscan fomentar la comunicación entre comunidades y el intercambio de opiniones, noticias, datos, etc.</p>{% endcomment %}
            {% comment %}<div class="agileits-caption">{% endcomment %}
              {% comment %}<i class="fa fa-gears" aria-hidden="true"></i>{% endcomment %}
              {% comment %}<h4>Intranet Comunitaria</h4>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}
        {% comment %}</div>{% endcomment %}
        <div class="col-md-4 about-grid">
          <div class="about-grid-info">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h4>{{ site.t[page.lang].alfabetizacion }}</h4>
            <p>{{ site.t[page.lang].textoalfabetizacion }}</p>
            <div class="agileits-caption">
              <a href="{{ site.t[page.lang].proyectos.url | prepend: site.baseurl | append: "#alfabetizacin-tecnolgica"}}">
                <i class="fa fa-code" aria-hidden="true"></i>
                <h4>{{ site.t[page.lang].alfabetizacion }}</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 about-grid">
          <div class="about-grid-info">
            <i class="fa fa-users" aria-hidden="true"></i>
            <h4>{{ site.t[page.lang].interespublico }}</h4>
            <p>{{ site.t[page.lang].textointerespublico }}</p>
            <div class="agileits-caption">
              <a href="{{ site.t[page.lang].proyectos.url | prepend: site.baseurl | append: "#inters-pblico"}}">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h4>{{ site.t[page.lang].interespublico }}</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 about-grid">
          <div class="about-grid-info">
            <i class="fa fa-flask" aria-hidden="true"></i>
            <h4>{{ site.t[page.lang].investigacion }}</h4>
            <p>{{ site.t[page.lang].textoinvestigacion }}</p>
            <div class="agileits-caption">
              <a href="{{ site.t[page.lang].proyectos.url | prepend: site.baseurl | append: "#investigacin"}}">
                <i class="fa fa-flask" aria-hidden="true"></i>
                <h4>{{ site.t[page.lang].investigacion }}</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //about -->
