<li><a href="{{ site.t[page.lang].inicio.url | prepend: site.baseurl }}">{{ site.t[page.lang].inicio.nombre }}</a></li>
<li><a href="{{ site.t[page.lang].nosotros.url | prepend: site.baseurl }}">{{ site.t[page.lang].nosotros.nombre }}</a></li>
<li><a href="{{ site.t[page.lang].servicios.url | prepend: site.baseurl }}">{{ site.t[page.lang].servicios.nombre }}</a></li>
<li><a href="{{ site.t[page.lang].blog.url | prepend: site.baseurl }}">{{ site.t[page.lang].blog.nombre }}</a></li>
<li><a href="{{ site.t[page.lang].donaciones.url | prepend: site.baseurl }}">{{ site.t[page.lang].donaciones.nombre }}</a></li>
<li><a href="{{ site.t[page.lang].contacto.url | prepend: site.baseurl }}">{{ site.t[page.lang].contacto.nombre }}</a></li>
