<li class="amarillo"><a href="{{ site.t[page.lang].inicio.url | prepend: site.baseurl }}">{{ site.t[page.lang].inicio.nombre }}</a></li>
<li class="azul"><a href="{{ site.t[page.lang].nosotros.url | prepend: site.baseurl }}">{{ site.t[page.lang].nosotros.nombre }}</a></li>
<li class="azul-muy-claro"><a href="{{ site.t[page.lang].servicios.url | prepend: site.baseurl }}">{{ site.t[page.lang].servicios.nombre }}</a></li>
<li class="naranja"><a href="{{ site.t[page.lang].blog.url | prepend: site.baseurl }}">{{ site.t[page.lang].blog.nombre }}</a></li>
<li class="azul-claro"><a href="{{ site.t[page.lang].proyectos.url | prepend: site.baseurl }}">{{ site.t[page.lang].proyectos.nombre }}</a></li>
{% comment %}<li class="amarillo"><a href="{{ site.t[page.lang].donaciones.url | prepend: site.baseurl }}">{{ site.t[page.lang].donaciones.nombre }}</a></li>{% endcomment %}
<li class="azul-horminka"><a href="{{ site.t[page.lang].contacto.url | prepend: site.baseurl }}">{{ site.t[page.lang].contacto.nombre }}</a></li>
