{% for pagina in site.t[page.lang].paginas %}
  {% assign url-pagina =  pagina.enlace | prepend: site.baseurl %}
  {% if page.url == url-pagina %}
    {% if pagina.nombre == "Donar" or pagina.nombre == "Donate" %}
      <li class="{{ site.colores-clases[ forloop.index0 ] }} activa donaciones"><a href="{{pagina.enlace | prepend: site.baseurl }}">{{pagina.nombre}}</a></li>
    {% else %}
      <li class="{{ site.colores-clases[ forloop.index0 ] }} activa"><a href="{{pagina.enlace | prepend: site.baseurl }}">{{pagina.nombre}}</a></li>
    {% endif %}
  {% else %}
    {% if pagina.nombre == "Donar" or pagina.nombre == "Donate" %}
      <li class="{{ site.colores-clases[ forloop.index0 ] }} donaciones"><a href="{{pagina.enlace | prepend: site.baseurl }}">{{pagina.nombre}}</a></li>
    {% else %}
      <li class="{{ site.colores-clases[ forloop.index0 ] }}"><a href="{{pagina.enlace | prepend: site.baseurl }}">{{pagina.nombre}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
