<!-- Swiper -->
<style>
  #slide-1 {
    /* https://images.pexels.com/photos/159397/solar-panel-array-power-sun-electricity-159397.jpeg?w=940&h=650&auto=compress&cs=tinysrgb */
    background-image: url("{{ site.url }}/img/slide-1-w15.jpg");
  }
  #slide-2 {
    /* https://c1.staticflickr.com/5/4164/34690119126_e24365ed10_b.jpg */
    background-image: url("{{ site.url }}/img/slide-2-w15.jpg");
  }
  #slide-3 {
    /* https://c.pxhere.com/photos/1b/6a/arduino_electronics_integrated_circuit_ic_computer_engineering_electrical_board-665497.jpg!d */
    background-image: url("{{ site.url }}/img/slide-3-w15.jpg");
  }
</style>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide cover" id="slide-1">
      <h1>{{ site.t[page.lang].contratar }}</h1>
    </div>
    <div class="swiper-slide cover" id="slide-2">
      <h1>{{ site.t[page.lang].trabajemos }}</h1>
    </div>
    <div class="swiper-slide cover" id="slide-3">
      <h1>{{ site.t[page.lang].slogan }}</h1>
    </div>
  </div>

  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-white"></div>

  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</div>
