.header {
  height: 400px;
  padding: 0;
}

.que-es {
  margin-top: 40px;
  h1 {
    text-align: center;
  }
  p {
    margin-top: 20px;
    text-align: justify;
  }
}

.mision-vision {
  margin-top: 40px;
  text-align: center;
  h3 {
    color: $blanco !important;
  }
  .wrapper {
    padding: 60px;
    height: 260px;
    background-color: $azul-horminka;
    color: $blanco;
  }
}

.equipo {
  margin-top: 40px;
  text-align: center;
  h1 {
    margin-bottom: 30px;
  }
  .perfil {
    text-align: left;
    padding: 25px;
  }
}

@media(max-width:767px) {
  .header {
    height: 200px;
  }
  .mision-vision {
    margin-top: 40px;
    .cuadro {
      margin-bottom: 40px;
    }
    .wrapper {
      padding: 30px;
    }
    .wrapper.mision {
      padding-top: 2em !important;
    }
  }
  .que-es {
    p {
      text-align: center;
    }
  }
}
