/*-- about --*/
.about{
  padding: 4em 0;
}
.wthree-about-info{
	text-align: center;
}
.wthree-about-info p{
  margin: 2em 0 0 0;
}
.agileits-about-grids{
	margin:4em 0 0 0;
}
.about-grid-info{
	padding: 2em;
  text-align: center;
  border: solid 2px $color-base;
  position: relative;
  overflow: hidden;
}
i.fa.fa-blind,i.fa.fa-flask,i.fa.fa-code,i.fa.fa-users{
  color: $color-base;
  font-size: 2em;
}
.agileits-caption i.fa.fa-flask,.agileits-caption i.fa.fa-code,.agileits-caption i.fa.fa-users{
  color: $color-texto-alterno;
  font-size: 3em;
}
.about-grid-info .agileits-caption h4{
  color: $color-titulos-alterno;
  font-size: $size-titulo-small;
  margin: 1em 0;
  font-weight: 600;
}
.about-grid-info h4{
  color: $color-titulos;
  font-size: $size-titulo-small;
  margin: 1em 0;
  font-weight: 600;
}
.about-grid-info p,.agileits-caption p{
  font-size: $size-small;
  margin: 0;
  line-height: 1.8em;
}
.agileits-caption p{
  color: $color-texto-alterno;
}
.agileits-caption {
  background: $color-fondo-alterno;
  padding: 4em 1em 1em 1em;
  position: absolute;
  left: 0;
  bottom: -108%;
  text-align: center;
  width: 100%;
  height: 100% !important;
  -webkit-transition: .5s all;
  transition: .5s all;
  -moz-transition: .5s all;
}
.about-grid-info:hover .agileits-caption {
  bottom: 0%;
}
.about-grid-info:hover .agileits-caption {
  bottom: 0%;
}
//.agileits-about-top-grids:nth-child(2) {
  //margin: 2em 0 0 0;
//}
/*-- //about --*/

@media(max-width:1080px){
	.about-grid-info {
		padding: 1em;
	}
}
@media(max-width:991px){
	.about-grid {
		float: left;
		width: 50%;
		margin-bottom: 2em;
	}
	//.about-grid:nth-child(3),.about-grid:nth-child(4){
		//margin-bottom: 0;
	//}
}
@media(max-width:414px){
	.about {
		padding: 2em 0;
	}
	.about-grid {
		float: none;
		width: 100%;
	}
	.agileits-caption {
		height: 208px;
	}
	//.about-grid:nth-child(3), .about-grid:nth-child(4) {
		//margin-bottom: 2em;
	//}
}
@media(max-width:384px){
	.agileits-about-grids {
		margin: 2em 0 0 0;
	}
	.about-grid {
		margin-bottom: 1em;
	}
	//.about-grid:nth-child(3){
		//margin-bottom: 1em;
	//}
	//.about-grid:nth-child(4) {
		//margin-bottom: 0em;
	//}
}
