.servicios {
  margin-top: 40px;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .cuadro {
    //border: solid 1px red;
    padding: 40px;
  }
  .titulo-servicio {
    text-align: left;
  }
  .descripcion-servicio {
    text-align: left;
  }
  .enlace-servicio {
    text-align: right;
  }
  .imagenes-servicio {
    img {
      border: solid;
      border-width: 5px;
    }
  }
  .icono-servicio {
    i {
      margin-left: 20px;
    }
  }

  .naranja {
    color: $naranja !important;
    border-color: $naranja !important;
  }
  .azul-claro {
    color: $azul-claro !important;
    border-color: $azul-claro !important;
  }
  .azul-horminka {
    color: $azul-horminka !important;
    border-color: $azul-horminka !important;
  }
  .amarillo {
    color: $amarillo !important;
    border-color: $amarillo !important;
  }
}

@media(max-width:767px) {
  .titulo-servicio {
    text-align: center !important;
  }
  .descripcion-servicio {
    text-align: center !important;
  }
  .enlace-servicio {
    text-align: center !important;
  }
  .imagenes-servicio {
    img {
      margin-bottom: 10px;
    }
  }
  .icono-servicio {
    text-align: center;
  }
}
/*-- services --*/
.services {
  padding: 80px 0 100px;
  background: $color-fondo-secundario;
}
.services-left-info {
  margin: 30px 0 40px 0;
}
.services-right {
  margin-top: 40px;
}
//.services-left-info h2,.wthree-about-info h3,.team-info h3{
  //color: $azul;
  //font-size: 2.5em;
  //margin: 0;
  //font-weight: 600;
  //position: relative;
//}
.services-left-info p{
  //font-size: .9em;
  //color: #8c8c8c;
  margin: 2em 0 0 0;
  line-height: 1.8em;
}
.agile-services-grid {
    position: relative;
}
.w3l-services-grids {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 222px;
}
.w3l-services-grids1{
    left: 318px !important;
    top: 96px;
}
.service-grid-bg {
    background: $blanco;
    height: 130px;
    width: 130px;
    margin-bottom: .5em;
    text-align: center;
    position: relative;
}
.service-grid-text {
    text-align: center;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    position: absolute;
    top: 40px;
    left: 37px;
}
.service-grid-text.long-text {
    text-align: center;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    position: absolute;
    top: 38px;
    left: 26px;
}
.service-grid-text.conf-text {
    text-align: center;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    position: absolute;
    top: 39px;
    left: 15px;
}
.service-grid-text i.fa.fa-ticket,.service-grid-text i.fa.fa-gears,.service-grid-text i.fa.fa-recycle,.service-grid-text i.fa.fa-magnet,.service-grid-text i.fa.fa-book,.service-grid-text i.fa.fa-compass,.service-grid-text i.fa.fa-object-ungroup,.service-grid-text i.fa.fa-life-ring{
    color: $azul;
    font-size: 1.5em;
}
.service-grid-text h5{
	color: $azul;
  font-size: $size-small;
  margin: .5em 0 0 0;	
}
.service-grid-bg:hover{
	background: $azul;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
  .service-grid-text i.fa.fa-ticket,.service-grid-text i.fa.fa-gears,.service-grid-text i.fa.fa-recycle,.service-grid-text i.fa.fa-magnet,.service-grid-text i.fa.fa-book,.service-grid-text i.fa.fa-compass,.service-grid-text i.fa.fa-object-ungroup,.service-grid-text i.fa.fa-life-ring{
      color: $blanco;
      font-size: 1.5em;
  }
}
.service-grid-bg:hover div.service-grid-text h5{
	color:#FFFFFF;
}
/*-- //services --*/
@media(max-width:1080px){
	.services-left {
	    float: none;
		width: 100%;
	}
	.services-right {
		float: none;
		width: 100%;
		height: 275px;
	}
}
@media(max-width:991px){
	.services-left-info {
		margin: 0 0 45px 0;
	}
}
@media(max-width:667px){
  .w3l-services-grids {
    left: 200px;
  }
  .w3l-services-grids1 {
    left: 296px !important;
  }
}
@media(max-width:600px){
  .w3l-services-grids {
    left: 164px;
  }
  .w3l-services-grids1 {
    left: 260px !important;
  }
}
@media(max-width:568px){
  .w3l-services-grids {
    left: 145px;
  }
  .w3l-services-grids1 {
    left: 241px !important;
  }
}
@media(max-width:480px){
  .w3l-services-grids {
    left: 100px;
  }
  .w3l-services-grids1 {
    left: 196px !important;
  }
}
@media(max-width:414px){
  .w3l-services-grids {
    left: 60px;
  }
  .w3l-services-grids1 {
    left: 156px !important;
  }
}
@media(max-width:384px){
  .w3l-services-grids {
    left: 47px;
  }
  .w3l-services-grids1 {
    left: 143px !important;
  }
}
@media(max-width:320px){
  .w3l-services-grids {
    left: 31px;
    top: -1px
  }
  .w3l-services-grids1 {
    left: 113px !important;
    top: 80px;
  }
  .service-grid-bg {
    height: 108px;
    width: 108px;
    .service-grid-text {
      top: 31px;
      left: 30px;
    }
    .service-grid-text.long-text {
      top: 24px;
      left: 13px;
    }
    .service-grid-text.conf-text {
      top: 24px;
      left: 0px;
    }
  }
}
