// Colores
$blanco: #ffffff;
$negro: #000000;
$azul: #0c2f81;
//$azul-claro: #4523B4;
$azul-claro: lighten($azul, 20);
$azul-oscuro: darken($azul, 10);
$cafe: #8E6931;
$naranja: #B46623;
$morado: #8D72E7;
$gris: #8c8c8c;
$gris-claro: #e5e5e5;

$color-base: $azul;
$color-fondo: $blanco;
$color-fondo-secundario: $gris-claro;
$color-fondo-alterno: $azul;
$color-titulos: $azul;
$color-titulos-alterno: $blanco;
$color-texto: $gris;
$color-texto-alterno: $blanco;
$color-secundario: $azul;
$color-llamativo: $azul-claro;

// Fuentes
$size-small: .9em;
$size-titulo-mediano: 1.5em;
$size-titulo-small: 1.1em;
$size-normal: 18px;
